body {
	font-family: 'Poppins', sans-serif;
	height: 100vh;
}

/* home page */
.paragraphs {
	font-family: 'Work Sans', sans-serif;
	width: 40%;
}

.center {
	text-align: center;
}

.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.fw-normal {
	font-weight: normal;
}

#menu {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
	background-color: #d9eee1;
}

#menu li {
	display: inline;
	padding: 15px;
}

#menu li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}
#menu li a:hover {
	color: gray;
}

.p-30 {
	padding: 30px;
}

.br-30 {
	border-radius: 30%;
}

/* contact page*/

iframe {
	margin-bottom: 40px;
}

#name {
	margin: 5px 0px 25px 0px;
	width: 60%;
}

#email {
	margin: 5px 0px 25px 0px;
	width: 60%;
}

#assunto {
	margin: 5px 0px 25px 0px;
	width: 100%;
}

button {
	width: 30%;
}

.esq,
.dir {
	margin: 0px 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
}

#form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
